body {
}

/*layout*/
.nvbar{ background-color:#2D2D2D !important}
.nvbar span{ color:#FFFFFF;font-weight:bold;font-size:17px;}
.nvbar .setting{ background-color:#2D2D2D !important;border:0px;margin-left:-14px;margin-right:-12px;margin-top:5px !important;}
.nvbar .setting .img{ width:28px;height:28px;}
/*data-icon*/

.km-setting:after,
.km-setting:before
{
    content: "\e0da";
}

/*drawer*/
.drawerDiv{ width:285px;display:block}
.drawerDiv ul{padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
.drawerDiv ul li{ height:50px;background-color:#555555 !important;}
.km-flat .km-group-title {background:#E2E2E2;border-color: rgba(0,0,0,0.1);}
.drawrItmDv{ width:100%;height:auto;}
.drawrItmDv .drawrLogo{ width:30%;float:left;}
.drawrItmDv .drawrTxt{ width:70%;float:left;}
.drawrItmDv .drawrLogo img{ width:30px;height:30px;margin-top:2px;}
.drawrItmDv .drawrTxt span{ font-size: 18px;font-weight: bold;line-height: 35px;color:#FFFFFF}
/*.km-flat .km-list>li { border:1px solid #ACACAC}*/
.drawerDiv ul .urgent{ height:70px;background-color:red;}
#my-drawer ul #emerg{ height:135px;background-color:#707070 !important}
#my-drawer ul #emerg span{line-height: 150px;margin-left: -42px;font-size: 31px;}
#my-drawer ul #emerg img{width: 55px;height: 50px;margin-left: 95px;}
#my-drawer ul #blk1{ height:45px;}
#my-drawer ul #blk2{ height:33px;}


/*dashboard*/
#home .mainDv{width:90%;height:auto;margin:0px auto;}
/*#home .mainDv .logoDv{width:90%;height:130px;margin:0px auto;border:1px solid red;margin-top:15px;}
.logoDv .logo{ width:35%;height:100%;border:1px solid blue;float:left}
.logoDv .logoText{ width:65%;height:100%;border:1px solid green;float:left}*/

/*home*/
#home .block{ width:100%;display:block;}
#home .block .mainDv{width:100%;height:auto;margin:0px auto;margin-top:0px;background-color:#FFFFFF;border:1px solid #ccc;}
#logo_list .logoDv{width:90%;height:130px;margin:0px auto;margin-top:15px;}
.logoDv .logo{ width:32%;height:100%;float:left}
.logoDv .logo img{width: 65px;height: 65px;margin: 26px 0px 0px 12px;}
.logoDv .logoText{ width:68%;height:100%;float:left}
.logoDv .logoText span{ line-height: 95px;margin-left: 5px;font-size: 20px;font-weight: bold;}



